## Exercise 1: Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [ ]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

##  Imported Numpy as np and Pandas as pd

In [193]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
exam = pd.DataFrame(exam_data)
exam = pd.DataFrame(exam_data, index = ['a','b','c','d','e','f','g','h','i','j'])
print(exam)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Actual Result

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 2: Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
##### Use Data from previous problem

In [28]:
data = exam[(exam['score'] > 15) & (exam['attempts'] <2)]
print ("Number of attempts in the examination is less than 2 and score greater than 15 :\n\n",data)

Number of attempts in the examination is less than 2 and score greater than 15 :

     name  score  attempts qualify
j  Jonas   19.0         1     yes

## ACTUAL RESULT

Number of attempts in the examination is less than 2 and score greater than 15 :
    name  score  attempts qualify
j  Jonas   19.0         1     yes

## Exerise 3: Change the value in row 'd' to 11.5
##### Use Data from previous questions

In [70]:
exam = pd.DataFrame(exam_data, index = ['a','b','c','d','e','f','g','h','i','j'])
print("Original data frame:\n",exam)
locc=exam.loc['d','score'] = 11.5
print("\nChange the score in row 'd' to 11.5: \n\n",exam)

Original data frame:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:

         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## ACTUAL RESULT

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Change the score in row 'd' to 11.5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

## Exercise 4: Write a Pandas program to calculate the sum of the examination attempts by the students.

In [86]:
print(exam)
summ = exam['attempts'].sum()
print("\n\nSum of exam attempts:\n",summ)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes


Sum of exam attempts:
 19

## Actual result

## Exercise 5: Drop a list of rows from a specified DataFrame
###### data: 
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}

In [107]:
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
data = pd.DataFrame(d)
print("Original DataFrame:\n",data)
remov = data.drop(data.index[[2,4]])
print("New DataFrame after removing 2nd & 4th rows:\n\n",remov)

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:

    col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

## Actual Result

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

## Exercise 6:  Check whether a given column is present in a DataFrame or not
###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

In [119]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
isnot = pd.DataFrame(d)
print("Original DataFrame:\n",isnot)
data.columns
if 'col1' in data.columns:
    print("\ncol1 is present in DataFrame.")
else:
    print("Col1 is not present in DataFrame.")
if 'col1' in data.columns:
    print("col2 is present in DataFrame.")
else:
    print("Col2 is not present in DataFrame.")
if 'col1' in data.columns:
    print("col3 is present in DataFrame.")
else:
    print("Col3 is not present in DataFrame.")
if 'col4' in data.columns:
    print("col4 is present in DataFrame.")
else:
    print("Col4 is not present in DataFrame.")

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

col1 is present in DataFrame.
col2 is present in DataFrame.
col3 is present in DataFrame.
Col4 is not present in DataFrame.

## Actual Result

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Col4 is not present in DataFrame.
Col1 is present in DataFrame.

## Exercise 7: Get column index from column name of a given DataFrame

###### data: 
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

##### HINT: Try using a function called get_loc():
Syntax: 
dataframe.columns.get_loc()

In [132]:
d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
datas = pd.DataFrame(d)
print("Original DataFrame:\n",datas)
col = datas.columns.get_loc('col2')
print("\nIndex of col2 =",col)

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of col2 = 1

## Actual Result

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Index of 'col2'
1

## Exercise 8: Write a Pandas program to select all columns, except one given column in a DataFrame.
###### Use same data as previous problem

In [154]:
print("Original DataFrame:\n",datas)
data = datas.loc[:,datas.columns != 'col3']
print("All columns except 'col3':\n",data)

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
All columns except 'col3':
    col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

## ACTUAL RESULT

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

All columns except 'col3':
   col1  col2
0     1     4
1     2     5
2     3     6
3     4     9
4     7     5

## Exercise 9:  Write a Pandas program to remove last n rows of a given DataFrame.

In [164]:
print("Original DataFrame:\n",datas)
dat = datas.drop(datas.index[[3,4]])
print("removed last 2:\n",dat)

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
removed last 2:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12

## For last N rows

In [169]:
print("Original DataFrame:\n",datas)
datus = datas.iloc[:3]
print("After removing last 3 rows of the said DataFrame:\n",datus)

Original DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
After removing last 3 rows of the said DataFrame:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12

# Actual Result

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

After removing last 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

## Exercise 10: Display the movies longer than 30 minutes and shorter than 360 minutes

In [194]:
data = pd.read_csv('IMDB-Movie-Data.csv')
print("Original data \n",data)
datas = data[['Title','Runtime (Minutes)']]
data_runtime = datas[(datas['Runtime (Minutes)'] > 30 ) & (datas['Runtime (Minutes)'] <360 )]
print("\n\n\nList of movies longer than 30 minutes and shorter than 360 minutes:\n\n",data_runtime)

Original data
      Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]



List of movies longer than 30 minutes and shorter than 360 minutes:

                        Title  Runtime (Minutes)
0    Guardians of the Galaxy                121
1                 Prometheus                124
2                      Split                117
3                       Sing                108
4              Suicide Squad                123
..                       ...                ...
995     Secret in Their Eyes                111
996          Hostel: Part II                 94
997   Step Up 2: The Streets                 98
998             Search Party                 93
999               Nine Lives                 87

[1000 rows x 2 columns]

## Actual Result

List of movies longer than 30 minutes and shorter than 360 minutes:
                                       Title  Runtime (Minutes)
0                    Guardians of the Galaxy                121
1                                 Prometheus                124
2                                      Split                117
3                                       Sing                108
4                              Suicide Squad                123
5                             The Great Wall                103
6                                 La La Land                128
7                                   Mindhorn                 89
8                         The Lost City of Z                141
9                                 Passengers                116
10   Fantastic Beasts and Where to Find Them                133
11                            Hidden Figures                127
12                                 Rogue One                133
13                                     Moana                107
14                                  Colossal                109
15                   The Secret Life of Pets                 87
16                             Hacksaw Ridge                139
17                              Jason Bourne                123
18                                      Lion                118
19                                   Arrival                116
20                                      Gold                120
21                     Manchester by the Sea                137
22                            Hounds of Love                108
23                                    Trolls                 92
24              Independence Day: Resurgence                120
25                           Paris pieds nus                 83
26                   Bahubali: The Beginning                159
27                                Dead Awake                 99
28                                  Bad Moms                100
29                          Assassin's Creed                115
..                                       ...                ...
970                        Texas Chainsaw 3D                 92
971                                Disturbia                105
972                             Rock of Ages                123
973                                 Scream 4                111
974                           Queen of Katwe                124
975               My Big Fat Greek Wedding 2                 94
976                              Dark Places                113
977                            Amateur Night                 92
978           It's Only the End of the World                 97
979                       The Skin I Live In                120
980                     Miracles from Heaven                109
981                                    Annie                118
982                      Across the Universe                133
983                            Let's Be Cops                104
984                                      Max                111
985                            Your Highness                102
986                      Final Destination 5                 92
987                             Endless Love                104
988                                  Martyrs                 99
989                                    Selma                128
990           Underworld: Rise of the Lycans                 92
991                         Taare Zameen Par                165
992                     Take Me Home Tonight                 97
993                 Resident Evil: Afterlife                 97
994                                Project X                 88
995                     Secret in Their Eyes                111
996                          Hostel: Part II                 94
997                   Step Up 2: The Streets                 98
998                             Search Party                 93
999                               Nine Lives                 87

[1000 rows x 2 columns]